@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

/* to remove the default    behaviour  */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
}

/* to remove the underline for all anchor tags in all website */
a {
  text-decoration: none;
}
